
.DS_Store
.Rhistory
.Rprofile
*.pper
.Rproj.user/CCF4B45F/persistent-state
.Rproj.user/CCF4B45F/rmd-outputs
.Rproj.user/CCF4B45F/saved_source_markers
.Rproj.user/CCF4B45F/sources/prop/D57CF4AF
.Rproj.user/CCF4B45F/sources/prop/F02D8AA6
.Rproj.user/CCF4B45F/sources/prop/F1D06F70
.Rproj.user/CCF4B45F/sources/prop/INDEX
.Rproj.user/CCF4B45F/sources/s-6EF7366E/4915AD16
.Rproj.user/CCF4B45F/sources/s-6EF7366E/4915AD16-contents
.Rproj.user/CCF4B45F/sources/s-6EF7366E/ABDC667C
.Rproj.user/CCF4B45F/sources/s-6EF7366E/ABDC667C-contents
.Rproj.user/CCF4B45F/sources/s-6EF7366E/CEF6C536
.Rproj.user/CCF4B45F/sources/s-6EF7366E/CEF6C536-contents
.Rproj.user/CCF4B45F/sources/s-6EF7366E/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/CCF4B45F/sources/prop/6EB341E9
.Rproj.user/CCF4B45F/sources/s-6EF7366E/2752DF0E
.Rproj.user/CCF4B45F/sources/s-6EF7366E/2752DF0E-contents
